@using System.Web.Optimization
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nieruchomości ;)</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/ng-grid.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="description" content="The description of my page"/>
</head>
<body>
<div class="container">
    <div class="col-md-12 body-content" style="padding-bottom: 20px;">
        <div class="col-md-3">
            <div class="row">
                <div class="left-menu">
                    <div class="menu-item">Strona główna</div>
                    <div class="menu-item">O firmie</div>
                    <div class="menu-item">Kredyty</div>
                    <div class="menu-item">Oferty:</div>
                    @{ Html.RenderAction("Cities", "Home"); }
                    <div class="menu-item-searcher">
                        <div class="menu-item">Wyszukaj ofertę:</div>
                        <div class="row">
                            <div class="col-md-7">
                                <input class="form-control menu-item-input" placeholder="Numer oferty?"/>
                            </div>
                            <div class="col-md-5" style="padding-left: 0px">
                                <button class="menu-item-button">Znajdź</button>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">Dodaj własną ofertę</div>
                    <div class="menu-item">Skontaktuj się z nami</div>
                    <div class="menu-item-contact">
                        <div class="menu-item-contact-phone">
                            <div class="row">
                                <div class="col-md-2" style="text-align: center">
                                    <span class="glyphicon glyphicon-phone-alt" style="font-size: 21px;"></span>
                                </div>
                                <div class="col-md-10">570 170 007</div>
                            </div>
                        </div>
                        <div class="menu-item-contact-email">
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="glyphicon glyphicon-envelope" style="font-size: 21px;"></span>
                                </div>
                                <div class="col-md-9">biuro@nieruchomoscijg.pl</div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item-social-media">
                        <div class="row">
                            <div class="col-md-7 pull-right">
                                <div class="col-md-4"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                                <div class="col-md-4"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                                <div class="col-md-4"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="left-newest">
                    <div class="left-newest-title">Ostatnio dodane:</div>
                    @{Html.RenderAction("NewestAdverts", "Home");}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>

    </div>
</div>
</body>
</html>
<footer style="padding-top: 0; padding-bottom:0">
    <div class="container" style="padding-top: 0; padding-bottom: 0; color: white;">
        <div class="col-md-12" style="background-color: #333333; padding-top: 20px; padding-bottom:20px">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <b>NIERUCHOMOŚCI JELENIOGÓRSKIE</b>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <small>Jelenia Góra ul. Wolności 123</small><br/>
                        <small>tel. 570 170 007</small>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <small>e-mail: biurp@nieruchomoscijg.pl</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <b>Skup, sprzedaż, wynajem nieruchomości</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 10px;">
                        <small>Jelenia Góra, Cieplice, Karpacz, Szklarska Poręba, Świeradów, Maciejowa, Piechowice, Podgórzyn, Przesieka, Sosnówka, Michałowice, Jeżów, Płoszczyna, Dziwiszów, Siedlęcin</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                Social - Media: todo
            </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" type="text/css" href="/Content/CSS/Site.css"/>