@model IEnumerable<Models.ViewModels.CityCount>

@foreach (var city in Model)
{
    <a class="menu-item-link" href="@Url.Action("Index", "Home", new {allCities = city.CityName, priceFrom = 0, priceTo = int.MaxValue})">

        <div class="menu-subitem">
            @city.CityName
            <div class="pull-right  menu-item-counter">(@city.Count)</div>
        </div>

    </a>
}