@using Models.ViewModels
@using nieruchomości.Helpers
@model IEnumerable<Models.ViewModels.NewestAdvert>

@foreach (var advert in Model)
{
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">

                            @if (advert.ToLet)
                            {
                                <small>Do wynajęcia: <b>@EnumNameHelper.GetAdType(advert.AdType)</b></small>
                            }
                            else
                            {
                                <small>Na sprzedaż: <b>@EnumNameHelper.GetAdType(advert.AdType)</b></small>
                            }

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <small><b>@advert.City</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <a href="/Home/Show?key=@advert.Number">
                        @if (advert.Picture != null)
                        {
                            <img src="/Content/Photos/@advert.Picture.Min" style="width: 100%; border: 1px solid white;" />
                        }
                        else
                        {
                            <img src="/Content/img/brakzdjecia.png" style="width: 100%; border: 1px solid white;" />
                        }
                    </a>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <span class="glyphicon glyphicon-camera" style="font-size: 1.5em"></span>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <span class="glyphicon glyphicon-map-marker" style="font-size: 1.5em"></span>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <span class="glyphicon glyphicon-user" style="font-size: 1.5em"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small>Cena: <b><span class="pln">@advert.Price</span> PLN</b></small>
                </div>
            </div>
        </div>
    </div>
}
