@using System.Activities.Expressions
@using Models.EntityModels
@using Models.ViewModels
@using nieruchomości.Helpers
@model Models.ViewModels.ShowCalc


@{
    
    ViewBag.Title = "ShowCalc";

    double kwota = 0;
    if (Model.CalcPrice!=null)
    {
        kwota = Convert.ToDouble(Model.CalcPrice);
    }
    
    
    
    //var vat = Model.Properties.FirstOrDefault(x => x.Type == PropertyType.)
    
  
    /*string cena = kwota.Where(x => Convert.ToInt32(x) <= 9 || x == '').Aggregate<char, string>(null, (current, x) => current + x);


    double xcena = Convert.ToDouble(cena);
    int procent = 3;*/
    //int flatPrice = Int32.Parse(Model.XPrice);

}


<script>
    function CalculateAddPrice() {


        var cost = document.form.Koszt.value;
        if (!cost)
            cost = '0';
        var procent = document.form.Percent.value;
        if (!procent)
            procent = '0';
        var StartCost = parseFloat(cost);
        var StartPercent = parseFloat(procent);
        document.form.AddCosts.value = (StartCost * @Model.CalcVATNotary.Firstordefault(x => x.Type = VAT) / 100);
        document.form.FullCosts.value = (StartCost + StartCost * StartPercent / 100);
    }

</script>


<form name="form" id="form">
    <input type="Text" name="Koszt" size="4" value="@kwota" onkeyup="CalculateAddPrice()"> Cena Nieruchomości (PLN)<br>
    <input type="Text" name="Percent" size="4" value="2" onkeyup="CalculateAddPrice()"> Prowizja agencji (%)<br>

    <input type="Text" name="AddCosts" id="AddCosts" readonly="readonly" size="6"> Dodatkowe koszty<br>
    <input type="Text" name="FullCosts" id="FullCosts" readonly="readonly" size="4" > Całkowite koszty<br>
</form>


<script language="javascript">
    window.onload = CalculateAddPrice();
</script>