<div class="row">
    <div class="col-md-2">
        <a role="button" class="btn btn-success" style="width: 100%" href="/Admin/Messages">
            <span class="glyphicon glyphicon-envelope"></span>
            <small>Wiadomości</small>
        </a>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-default btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true" style="width: 100%">
                <span class="glyphicon glyphicon-user"></span>
                <small>Pracownicy</small>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Admin/Workers"><span class="glyphicon glyphicon-list" style="margin-right: 10px"></span>Lista pracowników</a></li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Admin/AddWorker"><span class="glyphicon glyphicon-plus" style="margin-right: 10px"></span>Dodaj pracownika</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-default btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 100%">
                <span class="glyphicon glyphicon-home"></span>
                <small>Nieruchomości</small>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Admin/AdList"><span class="glyphicon glyphicon-list" style="margin-right: 10px"></span>Lista nieruchomości</a></li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Admin/AddFlat"><span class="glyphicon glyphicon-plus" style="margin-right: 10px"></span>Dodaj mieszkanie</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Admin/AddHouse"><span class="glyphicon glyphicon-plus" style="margin-right: 10px"></span>Dodaj dom</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Admin/AddLand"><span class="glyphicon glyphicon-plus" style="margin-right: 10px"></span>Dodaj działkę</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <a role="button" class="btn btn-primary" style="width: 100%" href="/Admin/Offers">
            <span class="glyphicon glyphicon-list-alt"></span>
            <small>Oferty</small>
        </a>
    </div>

    <div class="col-md-2">
        <a role="button" class="btn btn-info" style="width: 100%" href="/Admin/Statistics">
            <span class="glyphicon glyphicon-stats"></span>
                <small>Statystyki</small>
        </a>
    </div>
</div>