@{
    Layout = null;
}

<body>
    <div class="col-md-12">
        <h2>Twoja oferta została zaakceptowana</h2>
        <hr />
        <p>Jesteśmy zainteresowani twoją ofertą. Niedługo nasz pracownik skontaktuje się z tobą.</p>
    </div>
</body>